body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 240px;

  transition: all 0.3s ease;
}

.card.on{
  background: #fff3e0;
}
.card.on #text{
  color: #e53935;
  font-weight: bold;
}

#text {
  font-size: 20px;
  margin-bottom: 16px;
}

button {
  padding: 10px 16px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #1976d2;
  color: white;
  transition: background 0.2s;
}

button:hover {
  background: #125aa0;
}
