body{
    font-family: "Arial Rounded MT Bold";
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #e3f6f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1{
    text-align: center;
    font-size: 70px;
    margin: 50px;
}
#card-board{
    display: grid;
    grid-template-columns: repeat(9, 100px);
    gap: 10px;
    justify-content: center;
    margin: 2rem auto;
    
}
button{
    justify-content: center;
}
.cell{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #272343;
    font-size: 40px;
    font-weight: normal;
    cursor: pointer;
    background-color: #fffffe;
    transition: 0.3s;
    border-radius: 5px;
    
}
.cell.selected{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
}
