.done {
    text-decoration: line-through;
    opacity: 0.6;
}

body{
    font-family: sans-serif;
}

ul{
    padding: 0;
}

li{
    list-style: none;
    padding: 8px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}

button{
    margin-left: 8px;
}