#bingo-board{
    font-family: "Arial Rounded MT Bold";
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 10px;
    justify-content: center;
    margin: 2rem auto;
    background-color: #fffffe;
}
.cell{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #272343;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fffffe;
    transition: background-color 0.3s;
    border-radius: 5px;
}
.cell.selected{
    background-color: #bae8e8;
}
.cell.bingo{
    background-color: #ffd803;
}